/* General */
html {
  box-sizing: border-box;
}

/* @font-face {
  font-family: 'bauer-bodoni';
  src: url('./fonts/bauer-bodoni.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
} */
  
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  /* font-family: 'bauer-bodoni'; */
}
  
:root {
  --main-color: #a9792b;;
  --secondary-color: #68d6f7;
  --third-color: #e3ebf08f;
  --green-color: #3ba395;
  --red-color: #ff8686;
  font-size: calc(0.625rem + 0.4vw);
}

#content {

}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-content: center;
}

#header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
  width: 400px;
  justify-self: center;
}

#today-date {
  padding: 15px 0;
  border-bottom: 2px solid var(--main-color);
  grid-column: 3 / 4;
  grid-row: 1;
}

#menu {
  grid-column: 5 / 6;
  grid-row: 1;
}

#current-space {
  justify-self: center;
  grid-column: 3 / 4;
  grid-row: 2;
}

#add-btn {
  justify-self: end;
  grid-column: 3 / 6;
  grid-row: 2;
}

#today-date,
#menu,
#add-btn {
  align-self: center;
  justify-self: center;
}

/* Projects */
main {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project,
.toDo {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  width: max(300px, 90vw);
  margin-top: 1rem;
}

.project-header,
.toDo-header {
  display: flex;
  align-items: center;
  border: 3px solid var(--main-color);
  border-radius: 15px;
  padding: 0 0.5rem;
}

.project-priority,
.toDo-priority {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  height: 30px;
  width: 30px;
}

.project-priority::-webkit-color-swatch,
.toDo-priority::-webkit-color-swatch {
  border-radius: 20px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left:10px solid rgb(0, 0, 0);
  border-right: none;
}

.project-title,
.toDo-title,
.toDo-project {
  width: min(25vw, 100px);
  border: none;
}

.project-date,
.toDo-date {
  border: none;
}

.space2 {
  margin-right: auto;
}

.space1,
.space3,
.space4 {
  margin-right: 0.5rem;
}

.space3 {
  padding: 0 0.5rem;
  border-left: 2px solid var(--third-color);
  border-right: 2px solid var(--third-color);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: var(--main-color);
  border: none;
  background: none;
}

.material-symbols-outlined:hover {
  background-color: var(--third-color);
  border-radius: 50px;
}

.project-content,
.toDo-content {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.project-toDo,
.project-done {
  text-align: center  ;
}

.project-toDo > ul,
.project-done > ul {
  border-top: 1px solid var(--main-color);
  margin: 0.5rem;
  padding: 0.5rem;
}

#accept-cancel-box {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: max(280px, 60vw); 
}

#accept-btn,
#cancel-btn {
  width: 5.5rem;
  height: 1.8rem;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  border: 1px solid;
  margin: 1rem;
}

#accept-btn {
  color: var(--green-color);
  
}

#cancel-btn {
  color: var(--red-color);
}

#accept-btn:focus,
#cancel-btn:focus {
  color: white;
  font-weight: bold;
}

#accept-btn:focus {
  background-color: var(--green-color);
}

#cancel-btn:focus {
  background-color: var(--red-color);
}